<aside class="sidebar">
	<div class="panel radius">
		{% assign tags_url = site.baseurl | append: '/blog/tags/' %}
		<h3><a href="{{ tags_url }}">Tags</a></h3>
		{% include tag_cloud.html baseurl=tags_url %}
	</div>

	<!-- <div class="panel radius">
		<h3>Subscribe</h3>
		<ul class="no-bullet">
			<li class="icon-rss"><a href="{{ site.baseurl }}/rss.xml">RSS Feed</a></li>
			<li class="icon-rss"><a href="{{ site.baseurl }}/atom.xml">Atom Feed</a></li>
		</ul>
	</div> -->

	<div class="panel radius">
		{% assign categories_url = site.baseurl | append: '/blog/category/' %}
		<h3><a href="{{ categories_url }}">Categorías</a></h3>
		<ul class="no-bullet">
		{% for category in site.categories %}
			{% assign category_key = category[0] %}
			<li class="icon-alias-category">{% include page_categories.html categories=category_key %}</li>
		{% endfor %}
		</li>
	</div>

	<div class="panel radius">
		{% assign archive_url = site.baseurl | append: '/blog/archive/' %}
		<h3><a href="{{ archive_url }}">Archivados</a></h3>
		<ul class="no-bullet">
			{% for post in site.posts reversed %}
				{% assign currentdate = post.date | date: '%Y-%m' %}
				{% if currentdate != date %}
					<!-- {% assign count = 1 %} -->
                    {% assign count = count | plus: 1 %}
					{% unless forloop.first %}<!--({{ count }})--></li>{% endunless %}
					{% assign currentyear = post.date | date: '%Y' %}
					{% if currentyear != year %}
						{% unless forloop.first %}</ul></li>{% endunless %}
						<li class="icon-alias-archive"><a href="{{ archive_url }}#{{ currentyear }}">{{ currentyear }}</a><ul>
						{% assign year = currentyear %}
					{% endif %}
					<li>{{ post.date | date: '%m' | times: 1 }}. <a href="{{ archive_url }}#{{ currentdate }}">
						{% assign m = post.date | date: '%m' %}
											{% case m %}
											{% when '01' %}Enero
											{% when '02' %}Febrero
											{% when '03' %}Marzo
											{% when '04' %}Abril
											{% when '05' %}Mayo
											{% when '06' %}Junio
											{% when '07' %}Julio
											{% when '08' %}Agosto
											{% when '09' %}Septiembre
											{% when '10' %}Octubre
											{% when '11' %}Noviembre
											{% when '12' %}Diciembre
											{% endcase %} 
											</a>
					{% assign date = currentdate %}
				{% else %}
					{% assign count = count | plus: 1 %}
				{% endif %}
				{% if forloop.last %}<!--({{ count }})--></li></ul></li>{% endif %}
			{% endfor %}
		</ul>
	</div>
</aside>
