<iframe id="twitter-widget-0" scrolling="no" allowtransparency="true" 
allowfullscreen="true"
title="Twitter Tweet" 
src="https://platform.twitter.com/embed/Tweet.html?dnt=false&amp;embedId=twitter-widget-0&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id={{ include.id }}&amp;lang=es&amp;origin=https%3A%2F%2Fkeitaito.github.io%2Fblog%2F2017%2F01%2F20%2Fembedding-tweets-in-github-pages.html&amp;theme=dark&amp;widgetsVersion=889aa01%3A1612811843556" 
data-tweet-id="{{ include.id }}" frameborder="0"></iframe>

<!-- style="position: static; visibility: visible; width: '100%'; height: 500px; display: block; flex-grow: 1;"  -->